body {
  font-family: Arial;
  background: #f4f4f4;

  padding: 30px;
}

.container {
  background: white;

  padding: 30px;

  border-radius: 10px;

  max-width: 500px;

  margin: auto;

  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input {
  width: 100%;

  padding: 10px;

  margin-bottom: 15px;
}

button {
  width: 100%;

  padding: 10px;

  margin-bottom: 10px;

  border: none;

  background: #28a745;

  color: white;

  cursor: pointer;
}

button:hover {
  background: #1e7e34;
}

.product {
  border: 1px solid #ddd;

  padding: 10px;

  margin-bottom: 10px;

  border-radius: 5px;
}